html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GENERAL */
/* ******* */

.hidden {
  overflow: hidden;
}

.none {
  display: none;
}

.App {
  background-color: #f4f5f5;
}

.no-img {
  display: none;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5px;
  padding: none;
}

/* ******* */

/* BODY */

.body-container {
  display: flex;
  flex-direction: row;
  max-width: 1124px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: none;
  width: 68%;
}

.body-category-block {
  margin-top: 50px;
}

.description {
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #828585;
}

.menu-body {
  display: flex;
  flex-wrap: wrap;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 135px;
  width: 360px;
  background-color: #ffffff;
  margin-right: 20px;
  margin-bottom: 17px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.menu-container:hover {
  box-shadow: 0 6px 12px rgb(46, 51, 51, 0.2);
}

.menu-container > div {
  width: 235px;
}

.menu-container img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 3px;
}

.menu-sub-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.price {
  font-size: 16px;
  line-height: 19px;
  color: #828585;
}

/* BASKET */

.basket-container {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 10px;
  height: 210px;
  width: 100%;
  box-sizing: border-box;
}

.validate-basket {
  color: #879191;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  background-color: #bac3c3;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 2px;
  margin-bottom: 15px;
}

.basket {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #828585;
  margin: 5px 0;
  height: 73%;
  width: 100%;
  position: relative;
  top: -15px;
}

.basket-div {
  position: relative;
  top: -50px;
  z-index: 2;
  width: 32%;
}

.basket-buying-container {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 10px;
  min-height: 210px;
  width: 360px;
  box-sizing: border-box;
}

.basket-count {
  display: flex;
  justify-content: center;
  width: 20%;
}

.basket-number {
  margin: 0 7px;
  font-weight: 300;
  font-size: 15px;
  color: #828585;
}

.basket-button {
  color: #59ccbc;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.basket-description {
  display: flex;
  align-items: center;
  justify-items: left;
  font-size: 14px;
  font-weight: 300;
  color: #2e3333;
  width: 60%;
  padding-left: 10px;
}

.basket-menu-total {
  width: 20%;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color: #2e3333;
}

.basket-buying-container .validate-basket {
  background-color: #59ccbc;
  color: white;
  font-weight: 600;
}

.basket-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.basket-quantity-container {
  border-bottom: 1px solid lightgrey;
}

.total-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2e3333;
  font-weight: 600;
  margin: 20px 5px;
}
